/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*=====================================
=            Global Styles            =
=====================================*/

h1, h2, h3 ,h4, h5, h6 {
    text-transform: uppercase;
}

p {
    font-family: Georgia, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


/*-----  End of Global Styles  ------*/



/*==============================
=            Header            =
==============================*/

header {
    margin-bottom: 10px;
}

header img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

header h1 {
    text-align: center;
    margin: 0;
    font-weight: lighter;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



/*-----  End of Header  ------*/


/*==================================
=            Navigation            =
==================================*/

.main-nav {
    display: none;
}

.main-nav ul li a {
    color: black;
}

.small-nav {
    width: 100%;
}

.small-nav ul {
    text-align: center;
}

.small-nav ul li a {
    text-transform: uppercase;
}

.page-divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: -2.2em;
    padding: 0;
}


/*-----  End of Navigation  ------*/



/*=================================
=            Portfolio            =
=================================*/

section {
    margin-top: 20px;
}

.portfolio-item img {
    width: 297px;
    height: 290px;
    overflow: hidden;
    margin: 0 auto;
    transition: 0.5s;
}

.portfolio-item {
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.portfolio-item a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 0.7em;
}

.text-wrap {
    opacity: 0;
}

.text-wrap:hover {
    opacity: 1;
}

.text-wrap a:hover {
    text-decoration: none;
}


/*-----  End of Portfolio  ------*/


/*================================
=            About Me            =
================================*/

.about img {
    margin: 0 auto;
}

.about p {
    line-height: 2em;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}

.email h3 {
    text-align: center;
    text-transform: none;
    margin-top: 60px;
}

.email p {
    text-align: center !important;
}


.icons {
    text-align: center;
    margin-left: 13px;
}

.icons i {
    font-size: 3.0em;
    letter-spacing: 25px;
    transition: 0.2s;
    color: black;
}

.icons i:hover {
    opacity: 0.7;
}

/*-----  End of About Me  ------*/


/*=======================================
=            LightBox Styles            =
=======================================*/

.lightboxme {
    margin-top: 20px;
}

.lightboxme h1 {
    font-size: 1.6em;
    font-weight: bold;
}

.lightboxme h3 {
    font-size: 1.0em;
    margin-bottom: 20px;
    font-style: italic;
}

.theimages img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

/*-----  End of LightBox Styles  ------*/





/*==============================
=            Footer            =
==============================*/

footer {
    margin-top: 100px;
}

footer p {
    margin-top: 20px;
    text-align: center;
}

/*-----  End of Footer  ------*/


/*=====================================
=            Media Queries            =
=====================================*/

@media (min-width: 768px) {
    /* Navigation */
    .small-nav, header hr {
        display: none;
    }
    .main-nav {
        display: block;
    }

    .main-nav {
        text-align: center;
        margin-bottom: 10px;
        opacity: 1;
    }

    .main-nav ul {
        padding: 0;
        list-style: none;
        display: inline-block;
        padding: 0 18px;
        background-color: white;
    }

    .main-nav ul li {
        display: inline-block;
        padding: 10px;
    }

    .main-nav ul li a {
        font-size: 1.2em;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .main-nav ul li:not(:last-child) {
        margin-right: 50px;
    }

    .main-nav ul li a:hover {
        text-decoration: none;
    }

    /* End Navigation */

    /* Portfolio */
    section {
        margin-top: 50px;
    }

    .portfolio-item img {
        filter: gray; /* IE6-9 */
        filter: grayscale(1); /* Firefox 35+ */
        -webkit-filter: grayscale(1);
    }

    .portfolio-item img:hover {
        filter: none;
        -webkit-filter: grayscale(0);
    }

    .text-wrap a:hover {
        text-decoration: none;
    }
    /* End Portfolio */

    /* About */
    .about p {
        text-align: left;
    }
    /* End About */
}



/*-----  End of Media Queries  ------*/

/*======================================
=            Usable Classes            =
======================================*/

.active {
    color: grey !important;
}

.no-underline {
    text-decoration: none;
}


/*-----  End of Usable Classes  ------*/








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
